<section class="light py-5" id="customers">
    <div class="container text-center">
        <h2 class="mb-5 display-4 display-md-3 display-lg-2">Customers</h2>
        <div class="row justify-content-center">
            @if (_customers is null)
            {
                <p><em>Loading...</em></p>
            }
            else
            {
                <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6 g-4 justify-content-center">
                    @foreach (var customer in _customers)
                    {
                        <div class="col d-flex justify-content-center align-items-center">
                            <a href="@customer.Url" target="_blank" rel="noopener noreferrer">
                                @if (_companyLogos is not null)
                                {
                                    <img src="@(_companyLogos?.Find(logo => logo.Name.Contains(customer.Title))?.Src)" 
                                         class="img-fluid" 
                                         alt="@(_companyLogos?.Find(logo => logo.Name.Contains(customer.Title))?.Alt)" 
                                         style="max-width: 100%; max-height: 80px;" />
                                }
                            </a>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</section>

@code {
    [Parameter, EditorRequired]
    public required HttpClient Http { get; set; }

    [Parameter, EditorRequired]
    public required ImageService ImageService { get; set; }

    private List<Customer>? _customers;
    private List<Image>? _companyLogos;

    protected override async Task OnInitializedAsync()
    {
        _customers = await Http.GetFromJsonAsync<List<Customer>>("sample-data/customers.json");
        _companyLogos = await ImageService.GetPicturesAsync(img => img.Name.Contains("logo"));
        
    }
}