<section class="light align-content-center" id="customers">
    <h2 class="text-center">Customers</h2>
    <div class="customers-container">
    @if (_customers is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
			<div class="container row-cols-xl-6 row-cols-lg-3 row-cols-sm-1 gap-xxl-5 gap-xl-4 gap-md-3 gap-sm-1 ">
            @foreach (var customer in _customers)
            {
                <div class="box" key="@customer.Title">
                    <a href="@customer.Url" target="_blank" rel="noopener noreferrer">
                    @if(_companyLogos is not null)
                    {
                        <img src="@(_companyLogos?.Find(logo => logo.Name.Contains(customer.Title))?.Src)" style="height: 100%; width: 100%; object-fit: scale-down;" 
                        alt="@(_companyLogos?.Find(logo => logo.Name.Contains(customer.Title))?.Src)" />
                    }
                    </a>
                </div>
            }
        </div>
    }
    </div>
</section>

@code {
    [Parameter, EditorRequired]
    public required HttpClient Http { get; set; }

    [Parameter, EditorRequired]
    public required ImageService ImageService { get; set; }

    private List<Customer>? _customers;
    private List<Image>? _companyLogos;

    protected override async Task OnInitializedAsync()
    {
        _customers = await Http.GetFromJsonAsync<List<Customer>>("sample-data/customers.json");
        _companyLogos = await ImageService.GetPicturesAsync(img => img.Name.Contains("logo"));
    }
}
