<section class="light" id="portfolio">
    <h2>Customers</h2>
    <div class="portfolio-container">
    @if (_customers is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="container">
            @foreach (var customer in _customers)
            {
                <div class="box" key="@customer.Title">
                    <a href="@customer.Url" target="_blank" rel="noopener noreferrer">
                    @if(_companyLogos is not null)
                    {
                        <img src="@(_companyLogos?.Find(logo => logo.Name.Contains(customer.Title))?.Src)" style="height: 100%; width: 100%; object-fit: cover;" 
                        alt="@(_companyLogos?.Find(logo => logo.Name.Contains(customer.Title))?.Src)" />
                    }
                    </a>
                </div>
            }
        </div>
    }
    </div>
</section>

@code {
    [Parameter, EditorRequired]
    public required HttpClient Http { get; set; }

    [Parameter, EditorRequired]
    public required HeroImageService HeroImageService { get; set; }

    private List<Customer>? _customers;
    private List<HeroImage>? _companyLogos;

    protected override async Task OnInitializedAsync()
    {
        _customers = await Http.GetFromJsonAsync<List<Customer>>("sample-data/customers.json");
        _companyLogos = await HeroImageService.GetPicturesAsync(img => img.Name.Contains("logo"));
    }
}
